@import "tailwindcss";

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */
h1 { @apply text-4xl font-bold ; }
h2 { @apply text-3xl font-semibold; }
h3 { @apply text-2xl font-semibold ; }
h4 { @apply text-xl font-medium ; }
h5 { @apply text-lg font-medium ; }
h6 { @apply text-base font-medium ; }

body {
  background: var(--background);
  color: var(--foreground);
}

.MuiCollapse-root {
  width: 100%;
}

.MuiAccordionSummary-root {
  display: flex !important;
  justify-content: flex-start !important;
}

.MuiAccordionSummary-contentGutters {
  flex: initial !important;
}

.MuiAccordionSummary-root.Mui-expanded > .MuiAccordionSummary-contentGutters {
  margin: 12px 0 !important;
}

.MuiAccordion-heading {
  width: 100% !important;
}
