@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.accordion {
  display: block;
}


.acc-toggle {
  display: none;
}


.acc-header {
  padding: 12px 16px;
  background: #e7e7e7;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  user-select: none;
  display: block;
}

.acc-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease;
  background: #f9f9f9;
  padding: 0 16px;
  border-radius: 4px;
}


.acc-toggle:checked ~ .acc-body {
  max-height: 300px;
  padding-top: 12px;
  padding-bottom: 12px;
}
