@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.MuiCollapse-root {
  width: 100%;
}

.MuiAccordionSummary-root {
  /* width: 100% !important; */
  display: flex !important;
  justify-content: flex-start !important;
}

.MuiAccordionSummary-contentGutters {
  flex: initial !important;
}

.MuiAccordionSummary-root.Mui-expanded > .MuiAccordionSummary-contentGutters {
  margin: 12px 0 !important;
}

.MuiAccordion-heading {
  width: 100% !important;
}
