.button-7 {
  background-color: #0f7ef5;
  border: 1px solid transparent;
  border-radius: 24px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family:
    -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

footer {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #f2f9ff;
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 300px;
    color: rgb(52 52 95);
    font-weight: 500;
    gap: 70px;
    li {
      margin-top: 16px;
    }
    h2 {
      text-transform: uppercase;
      font-size: 12px;
      color: rgb(125 143 178);
    }
  }
  #cprt-p {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
  }
}

.box {
  &:hover {
    color: #01579b;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    div {
      border-color: #80b7ef;
    }

    img {
      filter: invert(22%) sepia(93%) saturate(4969%) hue-rotate(214deg)
        brightness(89%) contrast(102%);
    }
  }
}

.info {
  img {
    filter: sepia(93%) saturate(4969%) hue-rotate(214deg) brightness(89%)
      contrast(102%);
  }
  div {
    font-size: 22px;
    display: flex;
    align-items: center;
    border-bottom: 1.4px solid #8bc1f9;
    padding: 10px;
    span {
      color: #000;
      font-weight: 600;
    }
  }
}
.search {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  backdrop-filter: blur(30px);
  margin-bottom: 40px;
  padding: 250px 0px 250px 0px;
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  input {
    border: 1px solid #dae2ff;
    text-align: left;
  }
  h1 {
    text-align: center;
  }
}

.button-5 {
  background-color: #0f7ef5;
  border: 1px solid transparent;
  border-radius: 24px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  display: block;
  color: #fff;
  width: 200px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  gap: 5px;
}

.news-box {
  padding: 30px;

  div {
    display: flex;
    gap: 10px;
    p {
      color: #adb2b8;
      font-weight: 500;
    }
    div {
      display: flex;
      flex-direction: column;
      width: auto;
    }
    h5 {
      line-height: 1.3;
    }
  }
  img {
    height: 124px;
    border-radius: 5px;
    object-fit: cover;
    width: 140px;
  }
}

.item-list {
  background-color: #f2f9ff;
  box-shadow: 0 0 8px #ddd;
  padding: 10px;
  h3 {
    color: #20262d;
    font-size: 22px;
    line-height: 1.5;
  }
  div {
    color: #001848;
    padding: 10px 20px;
    font-size: 17px;
    text-align: start;
    &:hover {
      border: 0 solid #e5e7eb;
      background-color: #e5e7eb;
      border-radius: 16px;
      cursor: pointer;
    }
  }
}

.typing-container {
  font-size: 36px;
  font-weight: 700;
  color: #0f7ef5;
  margin-left: 4px;
  white-space: nowrap;
}

.typing-cursor {
  display: inline-block;
  margin-left: 2px;
  width: 1ch;
  animation: blink 1s step-start infinite;
  color: #000;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  footer {
    .grid {
      grid-template-columns: 1fr 1fr;
      border-top: thick #32a1ce;
    }
  }
  .news-box {
    flex-direction: column;
    gap: 20px;
  }
  header {
    .links {
      justify-content: space-evenly;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 994px) {
  .acc-header {
    flex-direction: column;
    gap: 10px;
  }
  .search {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
  }
  .pages {
    overflow-x: scroll;
    padding: 20px;
    font-size: 13px;
    scrollbar-width: none;
    a {
      min-width: 290px;
    }
  }
  .news-box {
    gap: 20px;
    h5 {
      font-size: 20px;
      width: 100%;
    }
  }

  .links {
    display: none;
  }

  .burger-btn {
    display: flex;
    justify-content: end;
    padding: 5px;
    align-items: center;
  }
}

@media (max-width: 668px) {
  header {
    .links {
      display: none;
    }
    .button-7 {
      display: none;
    }
  }
  footer {
    padding: 10px;
    .grid {
      grid-template-columns: 1fr;
      gap: 30px;
      margin: 0 auto;
    }
    .copyright {
      align-items: center;
      gap: 10px;
      #cprt-p {
        font-size: 14px;
      }
    }
    .icons {
      flex-direction: column;
      justify-content: center;
      div:nth-child(1) {
        justify-content: center;
        padding-bottom: 7px;
      }
      div:nth-child(2) {
        justify-content: center;
      }
    }
  }
}
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -280px;
  width: 260px;
  height: 100%;
  background: #fff;
  padding: 20px;
  transition: 0.3s ease;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-sidebar.open {
  left: 0;
}

.mobile-sidebar a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.close-btn {
  background: none;
  border: none;
  align-self: flex-end;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.data-section {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 20px auto;
  padding: 1px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.2);
  overflow: visible;
  border-radius: 24px;
  background: linear-gradient(
    105deg,
    rgb(238, 246, 255) -91.9%,
    rgb(247, 243, 254) 2.79%,
    rgb(201, 222, 253) 100%
  );

  img {
    width: 90px;
    height: 110px;
    border-radius: 10px;
  }
  .profile-img {
    width: 78px;
    height: 104px;
    background: #b1b1b1;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.data-section2 {
  display: flex;
  flex-direction: column;
  padding: 1px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.2);
  overflow: visible;
  border-radius: 24px;
  height: auto;
  width: 380px;
  margin: 20px auto;
  background: linear-gradient(
    106deg,
    rgb(239, 250, 237) 1.01%,
    rgb(198, 233, 247) 100%
  );
  img {
    width: 90px;
    height: 110px;
    border-radius: 10px;
  }
  .profile-img {
    width: 78px;
    height: 104px;
    background: #b1b1b1;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
.custom-swiper {
  width: fit-content;
}
.swiper-pagination {
  display: none;
}
.swiper-scrollbar {
  display: none;
}
.custom-swiper .swiper-slide {
  width: auto;
}
.swiper {
  max-width: 500px;
}
.data-section3 {
  display: flex;
  flex-direction: column;
  padding: 1px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.2);
  overflow: visible;
  border-radius: 24px;
  height: auto;
  width: 380px;
  margin: 20px auto;
  background: linear-gradient(
    285deg,
    rgba(255, 223, 224, 0.65) 6.44%,
    rgba(161, 196, 253, 0.59) 32.41%,
    rgba(182, 220, 252, 0.68) 64.39%,
    rgba(56, 249, 215, 0.05) 107.93%
  );
  img {
    width: 90px;
    height: 110px;
    border-radius: 10px;
  }
  .profile-img {
    width: 78px;
    height: 104px;
    background: #b1b1b1;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
.custom-swiper {
  width: fit-content;
}

.custom-swiper .swiper-slide {
  width: auto;
}

.triangle {
  height: 0;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #0f7ef5;
}

//&toggle
.toggle-label {
  margin-left: 40px;
  margin-top: 40px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  position: relative;
  background-color: #ccc;
  border-radius: 26px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform ease 0.3s;
  }

  &:has(input:checked) {
    &::before {
      background-color: #0f7ef5;
    }
  }

  &:has(input:checked)::before {
    transform: translateX(24px);
  }
}
